beautifulsoup4
pandas
duckdb
yfinance
playwright
ipykernel
jupyter
openpyxl
tqdm
scikit-learn
pandas_ta
plotly
langchain
langchain-openai
langchain-anthropic
langchain-groq
langchain-deepseek
langchain-ollama
langchain-google-genai
langchain-xai
langchain-gigachat
langgraph
numpy
python-dotenv
matplotlib
tabulate
colorama
questionary
rich
fastapi
pydantic
httpx
sqlalchemy
alembic
scipy
transformers
pdfminer.six
selenium
webdriver-manager
requests
slack_sdk
pyinstaller
